.ResponsiveBlock {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  margin: 0 auto; /* 중앙 정렬 */

  /* 브라우저 크기에 따라 가로 사이즈 변경 */
  // @media (max-width: 1024px) {
  //   width: 768px;
  // }
  // @media (max-width: 768px) {
  //   width: 100%;
  // }
}
