{% extends "base.html" %}

{% block title %}아카이브{% endblock %}

{% block content %}
<div class="">

  <h1 class="text-center">게시물<br>{{ year|date:"Y" }}년</h1>

 <div class="d-flex row border rounded">

  {% for date in date_list %}
  <a href="{% url 'blog:post_month_archive' date|date:'Y' date|date:'b'%}" class="btn text-center col-2 fs-3 border text-black">{{date|date:"n"}}월</a>
  {% endfor %}
 
 </div>

  <br>

    <div class="list-group">
      {% for post in object_list %}
        <a href="{{post.get_absolute_url}}" class="list-group-item list-group-item-action d-flex justify-content-between">
          <p><b>{{post.title}}</b></p>
          <p>{{post.create_dt|date:"Y/m/d"}} <br> {{post.create_dt|date:"H:i"}}</p>
        </a>
      {% endfor %}
    </div>

</div>
{% endblock %}