{% extends "base.html" %}

{% block title %}검색{% endblock title %}

{% block content %}


<h1>검색 결과</h1>
<br>

<form action="." method="post">
  {% csrf_token %}
  {{form.as_table}}
  <input type="submit" value="검색" class="btn text-black btn-lg border ms-3">
</form>


{% if object_list %}
  {% for post in object_list %}
    <hr>
    <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
    {{ post.create_dt|date:"Y/m/d"}}
    {% comment %} <p>{{ post.description|safe }}</p> {% endcomment %}
    
  {% endfor %}

{% elif search_term %} {% comment %} 검색 결과가 없으면 검색어가 있는지 확인 {% endcomment %}
  <hr>
  <i>"{{search_term}}"와(과) 일치하는 검색결과가 없습니다.</i>
{% endif %}

<hr class='border border-2 opacity-100'>

{% comment %} <div class="d-flex flex-column">
  <div class="m-auto mb-2">
    <a href="https://www.google.com/search?q={{search_term}}" class="text-white btn btn-lg"  target="_blank">
      Google Search
    </a>
  </div>

  <div class="border">
    <iframe src="https://www.google.com/search?igu=1&ei=&q={{search_term}}" title="내용" name="frame" width="100%" height="700px" border></iframe>
  </div>
</div> {% endcomment %}


<br>
<br>

{% endblock content %}