{% extends "base.html" %}

{% block title %}아카이브{% endblock %}

{% block content %}
<div class="">

  <h1 class="text-center">게시물<br>{{ day|date:"Y" }}년 {{day|date:"m"}}월 {{day|date:"d"}}일</h1>

  <br>

    <div class="list-group">
      {% for post in object_list %}
        <a href="{{post.get_absolute_url}}" class="list-group-item list-group-item-action d-flex justify-content-between">
          <p><b>{{post.title}}</b></p>
          <p>{{post.create_dt|date:"Y/m/d"}} <br> {{post.create_dt|date:"H:i"}}</p>
        </a>
      {% endfor %}
    </div>

</div>
{% endblock %}